* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: bisque;
}

h1 {
    margin: 20px 50px;
    font-size: 2.5rem;
    border-bottom: 3px solid darkred;
    padding-bottom: 10px;
}

h2 {
    margin: 12px;
    border-bottom: 4px solid darkred;
    padding-left: 8px;
    font-weight: bolder;
}

ul {
    margin: 12px 40px; 
}

ol {
    margin: 12px 40px;
}

li {
    margin: 5px;
    text-decoration: none;
}

li::marker {
    color: darkred;
}

a,
p,
li
 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a:hover {
    background-color: blue;
    color: white;
    text-decoration: underline;
}

img {
    max-width: 100%;
    width: 250px;
    height: auto;
}

.index {
    display: block;
    float: left;
    width: 50%;
    margin: 20px auto;
}

.home {
    position: fixed;
    top: 20px;
    right: 50px;
    background-color: bisque;
    font-size: 1.5rem;
    border: 2px solid darkred;
    padding: 10px;
}

.show {
    display: inline-block;
    width: 100%;
}

.show div {
    float: right;
    margin-right: 30px;
}

#description {
    float: left;
    margin-left: 20px;
}